<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lianliankan.xiaoyoulei"
      android:versionCode="1"
      android:versionName="1.0">

	<!-- SDK运行在Android 1.5（API 3）及以上版本 -->
  	<uses-sdk android:minSdkVersion="8" />

	<!-- 必须申明的权限 -->
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<!-- 可选的权限 -->
	<!-- 使用GPS获取用户精确定位信息 -->
	<!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>-->
   
   <!-- baidu mobads 权限申请 --> 
   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- 以下为可选权限 -->
  	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  	<uses-permission android:name="android.permission.RECORD_AUDIO" /> 
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" /> 
   

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        		<!-- 您从百度网站获取的APP KEY -->
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="4f115c4f67" /> <!-- abcd1234 -->
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="Baidu Market" />

		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
		<!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" />  -->
		<!-- 日志仅在wifi网络下发送，默认为false -->
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
		<!-- 是否获取基站位置信息 ,默认为true-->
		<meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
		<!-- 是否获取GPS位置信息，默认为true -->
		<meta-data android:name="BaiduMobAd_GPS_LOCATION" android:value="true" />
		<!-- 是否获取WIFI位置信息，默认为true -->
		<meta-data android:name="BaiduMobAd_WIFI_LOCATION" android:value="true" />
        
		<!-- baidu mobads 配置 -->
		<meta-data android:name="BaiduMobAd_APP_ID" android:value="ff05d342" /> 
		<meta-data android:name="BaiduMobAd_APP_SEC" android:value="ff05d342" />
		<activity android:name="com.baidu.mobads.AppActivity" 
		    android:configChanges="keyboard|keyboardHidden|orientation" />`
		
        <activity android:name=".android.WelActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>